<%- include('../users/layouts/userHeader') %>


<main class="main">
  <div
    class="page-header text-center"
    style="background-image: url('assets/images/page-header-bg.jpg')"
  >
    <div class="container">
      <h1 class="page-title">My Account<span>Shop</span></h1>
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/product">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Account</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="dashboard">
      <div class="container">
        <div class="row">
          <aside class="col-md-4 col-lg-3">
            <ul
              class="nav nav-dashboard flex-column mb-3 mb-md-0"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab-dashboard-link"
                  data-toggle="tab"
                  href="#tab-dashboard"
                  role="tab"
                  aria-controls="tab-dashboard"
                  aria-selected="true"
                  >add addres
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Sign Out</a>
              </li>
            </ul>
          </aside>
          <!-- End .col-lg-3 -->

          <div class="col-md-8 col-lg-9">
            <div class="tab-content">
              <div
                class="tab-pane fade show active"
                id="tab-dashboard"
                role="tabpanel"
                aria-labelledby="tab-dashboard-link"
              >
                <form action="">
                  <label>Name *</label>
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="name"
                  />
                  <div id="nameError" style="display: none; color: red"></div>

                  <label>Email address *</label>
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    id="email"
                  />
                  <div
                    id="addEmailError"
                    style="display: none; color: red"
                  ></div>

                  <label>Phone number</label>
                  <input
                    name="mobile"
                    type="text"
                    class="form-control"
                    id="mobile"
                  />
                  <div id="phoneError" style="display: none; color: red"></div>

                  <div class="row">
                    <div class="col-sm-6">
                      <label>houseName</label>
                      <input
                        type="text"
                        name="houseName"
                        class="form-control"
                        id="houseName"
                      />
                      <div
                        id="houseError"
                        style="display: none; color: red"
                      ></div>
                    </div>
                    <!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                      <label>city</label>
                      <input
                        type="text"
                        name="city"
                        class="form-control"
                        id="city"
                      />
                    </div>
                    <!-- End .col-sm-6 -->
                    <div id="cityError" style="display: none; color: red"></div>
                  </div>
                  <!-- End .row -->

                  <div class="row">
                    <div class="col-sm-6">
                      <label>state</label>
                      <input
                        type="text"
                        name="state"
                        class="form-control"
                        id="state"
                      />
                    </div>
                    <!-- End .col-sm-6 -->
                    <div
                      id="stateError"
                      style="display: none; color: red"
                    ></div>

                    <div class="col-sm-6">
                      <label>pincode</label>
                      <input
                        type="text"
                        name="pin"
                        class="form-control"
                        id="pin"
                      />
                    </div>
                    <!-- End .col-sm-6 -->
                    <div id="pinError" style="display: none; color: red"></div>
                  </div>
                  <!-- End .row -->
                  <button
                    type="submit"
                    id="addaddres"
                    class="btn btn-outline-primary-2"
                  >
                    <span>Add Address</span>
                    <i class="icon-long-arrow-right"></i>
                    <input
                      type="text"
                      id="userId"
                      value="<%=user._id %>"
                      hidden
                    />
                  </button>
                </form>
              </div>
              <!-- .End .tab-pane -->
            </div>
          </div>
          <!-- End .col-lg-9 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .dashboard -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->
<script>
  document.getElementById("addaddres").addEventListener("click", function (e) {
    e.preventDefault();
    const id = document.getElementById("userId").value;
    const name = document.getElementById("name").value;
    const addressEmail = document.getElementById("email").value;
    const mobile = document.getElementById("mobile").value;
    const houseName = document.getElementById("houseName").value;
    const city = document.getElementById("city").value;
    const state = document.getElementById("state").value;
    const pin = document.getElementById("pin").value;

    const fnameError = document.getElementById("nameError");
    const pinError = document.getElementById("pinError");
    const phoneError = document.getElementById("phoneError");
    const addEmailError = document.getElementById("addEmailError");
    const houseError = document.getElementById("houseError");
    const cityError = document.getElementById("cityError");
    const stateError = document.getElementById("stateError");
    const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    const mobilePattern = /^\d{10}$/;
    const namePattern = /^[a-zA-Z\s]+$/;
    const pincodePattern = /^\d{6}$/;

    if (name.trim() === "") {
      nameError.style.display = "block";
      nameError.textContent = "Name is required.";
    } else if (!namePattern.test(name)) {
      nameError.style.display = "block";
      nameError.textContent = "Full name not contain any non alphabets.";
    } else if (name.length < 3) {
      nameError.style.display = "block";
      nameError.textContent = "Full name should contain at least 3 letters.";
    } else if (pin.trim() == "") {
      pinError.style.display = "block";
      pinError.textContent = "Pincode is required.";
    } else if (!pincodePattern.test(pin)) {
      pinError.style.display = "block";
      pinError.textContent = "Enter the valid pincode.";
    } else if (mobile.trim() === "") {
      phoneError.style.display = "block";
      phoneError.textContent = "Phone number is required.";
    } else if (!mobilePattern.test(mobile) || mobile === "0000000000") {
      phoneError.style.display = "block";
      phoneError.textContent =
        "Enter the valid Phone number (must contain 10 numbers).";
    } else if (addressEmail.trim() === "") {
      addEmailError.style.display = "block";
      addEmailError.textContent = "Email is required.";
    } else if (!emailPattern.test(addressEmail)) {
      addEmailError.style.display = "block";
      addEmailError.textContent = "Enter the valid email address.";
    } else if (houseName.trim() === "") {
      houseError.style.display = "block";
      houseError.textContent = "House name is required";
    } else if (city.trim() === "") {
      cityError.style.display = "block";
      cityError.textContent = "City name is required";
    } else if (state.trim() === "") {
      stateError.style.display = "block";
      stateError.textContent = "State name is required";
    } else {
      Swal.fire({
        title: "Are you sure?",
        text: "You want to add these details?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes",
        cancelButtonText: "Not now",
      }).then((result) => {
        if (result.isConfirmed) {
          console.log("iam add addrress two");
          $.ajax({
            url: "/addresAdd2",
            data: {
              name: name,
              mobile: mobile,
              email: addressEmail,
              houseName: houseName,
              city: city,
              state: state,
              pin: pin,
              id: id,
            },
            method: "post",
            success: (response) => {
              if (response.success) {
                const Toast = Swal.mixin({
                  toast: true,
                  position: "top-end",
                  showConfirmButton: false,
                  timer: 3000,
                });
                Toast.fire({
                  icon: "success",
                  title: "Billing address added successfully.",
                });
                setTimeout(() => {
                  window.location.href = "/landchekout";
                }, 3000);
              } else {
                const Toast = Swal.mixin({
                  toast: true,
                  position: "top-end",
                  showConfirmButton: false,
                  timer: 3000,
                });

                Toast.fire({
                  icon: "error",
                  title: "Oops !! try again.",
                });
              }
            },
          });
        }
      });
    }
  });
</script>
<%- include('../users/layouts/footer2') %>
