<%- include('../users/layouts/navbar') %>

<!-- End .header -->

<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active" aria-current="page">Login</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div
    class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
    style="
      background-image: url('/user/assets/images/backgrounds/login-bg.jpg');
    "
  >
    <div class="container">
      <div class="form-box">
        <div class="form-tab text-center">
          <h3 class="mb-3">Forget Password</h3>
        </div>

        <form action="/forgetpass" method="post">
          <div class="form-group">
            <label for="singin-email-2" class="mb-2"
              >Enter Your Email address *</label
            >
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              required
            />
          </div>
          <!-- End .form-group -->

          <!-- End .form-group -->

          <div class="form-footer">
            <button type="submit" class="btn btn-primary btn-block">
              <span> Submit</span>
            </button>
          </div>
        </form>

        <% if (typeof message !== "undefined") { %>
        <div class="alert alert-primary mt-3" role="alert">
          <!-- Replace the message with your dynamic message -->
          <%= message %>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</main>
