<%- include('../users/layouts/userHeader') %>
				<style>
                    body {
                        font-family: Arial, sans-serif;
                        text-align: center;
                        margin: 50px;
                    }
                    main {
                        max-width: 600px;
                        margin: 0 auto;
                        margin-top: 200px;
                        background-color: #f9f9f9;
                        padding: 20px;
                        border-radius: 10px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    }
                    h1 {
                        color: #4CAF50;
                    }
                    p {
                        color: #555;
                    }
                    #home{
                        padding: 10px 20px;
                        font-size: 16px;
                        background-color: #4CAF50;
                        color: #fff;
                        text-decoration: none;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                    #viewOrderBtn:hover {
                        background-color: #45a049;
                    }
                </style>
                </head>
                <body>
                <main>
                    <div>
                        <h1>Your Order Was Successful!</h1>
                        <p>Thank you for your purchase. Your order is confirmed.</p>
                        <a href="/home"><button  id="home">Go To Home</button></a>
                    </div>
                </main>
  
			 
		

  


     
